# Dependencies and build files
node_modules/
build/
dist/
.vite/
.cache/
.parcel-cache/
.eslintcache

# React and Vite specific
/public/**/*.hot-update.js
/public/**/*.hot-update.json
/public/**/*.hot-update.js.map
vite.config.*

# Testing and coverage
/coverage/
/cypress/videos/
/cypress/screenshots/

# Local development environment
.env.local
.env.development.local
.env.production.local
