.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .retweet-button {
    font-size: 1rem;
    border: none;
    background: transparent;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  

  
  .retweet-button:hover {
    color: #1da1f2;
  }


  .repost-icon {
    transition: color 0.2s ease;
    color: #aaa; /* gray-ish */
    font-size: 1rem;
  }
  
  .repost-icon.active {
    color: #00ffcc;
  }