/* Search Bar Container */
.search-bar-container {
    padding: 0.5rem;
    max-width: 1200px; 
    width: 100%;
    background: #2f2b2b; 
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Search Bar Form */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

/* Input Row */


/* Longer Search Input */


.search-input:focus {
    border-color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}

/* Search Button Positioned Below */

.search-button {
    color: #000000;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    text-align: center;
}

/* Filter and Reset Buttons on the same row */
.search-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    gap: 1.5rem;
    margin-top: 0rem;
}

/* Filter and Reset Button Styling */
.search-filter, .reset-button { 
    flex: 1;
    padding: 0.7rem;
    border: none;
    background: rgba(0, 255, 204, 0.5);
    color: #000000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    text-align: center;
    max-height: 75px;
    height: 100%;
}

button.search-button:hover, 
button.reset-button:hover, 
select.search-filter:hover {
    background-color: #0da688;
    box-shadow: 0 0 15px #00ffcc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-bar-container {
        padding: 2rem;
    }

    .search-input-group {
        flex-direction: column;
        gap: 1rem;
    }

    .search-input {
        width: 100%;
    }

    .search-button-container {
        width: 100%;
    }

    .search-button {
        font-size: 1.2rem;
    }

    .search-options {
        flex-direction: column;
        width: 100%;
    }

    .reset-button, .search-filter {
        width: 100%;
    }
}

.search-bar-container .search-input {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid #00ffcc;
    border-radius: 8px;
    background-color: #1a1a2e;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}


.search-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar-container .search-button {
    width: 90%;
    color: #000000;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    text-align: center;
}

.search-input::placeholder {
    font-size: 1.1rem; /* Smaller placeholder text */
    color: #ffffff;
}