/* Search Bar Container */
.search-bar-container {
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.3);
    border-radius: 12px;
    padding: 2rem;
    max-width: 1200px; 
    width: 100%;
    background: #1f4068; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Search Bar Form */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Input and Search Button Row */
.search-input-group {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    gap: 1.5rem; /* Space between input and button */
}

/* Longer Search Input */
.search-input {
    flex: 1;
    padding: 2rem;
    border: 2px solid #00ffcc;
    border-radius: 8px;
    background-color: #1a1a2e;
    color: #ffffff;
    font-size: 1.5rem;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
}

/* Search Button */
.search-button {
    padding: .8rem 2rem;
    border: none;
    background: linear-gradient(to right, #9945ff, #14f195);
    color: #000000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    text-align: center;
}

/* Filter and Reset Buttons stacked */
.search-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin-top: 1.5rem;
}

/* Filter and Reset Button Styling */
.search-filter, .reset-button { 
    width: 20%;
    padding: .7rem;
    border: none;
    background: linear-gradient(to right, #9945ff, #14f195);
    color: #000000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    text-align: center;
    max-height: 75px;
    height: 100%;
    margin-bottom: 1rem;
}

.search-button:hover, 
.reset-button:hover {
    background-color: #ffcc00;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.7);
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-bar-container {
        padding: 2rem;
    }

    .search-input-group {
        flex-direction: column;
        gap: 1rem;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
        font-size: 1.2rem;
    }

    .search-options {
        width: 100%;
    }

    .reset-button, .search-filter {
        width: 100%;
    }
}
