.auth-section {
  @apply bg-white text-black dark:bg-[#1f1f1f] dark:text-white;
  flex: 0.5;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
  text-align: center;
}

.auth-section h2 {
  @apply text-black dark:text-[#00ffcc];
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.auth-section input {
  @apply w-full mb-4 px-3 py-3 border border-[#00ffcc] rounded bg-white text-black dark:bg-[#121212] dark:text-white;
  outline: none;
  box-shadow: none;
}

.auth-section input:focus {
  border-color: #00ddaa;
  box-shadow: 0 0 5px rgba(0, 221, 170, 0.5);
  outline: none;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  @apply text-[#00ffcc];
}

.toggle-password:hover {
  color: #19fb9b;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  @apply text-[#00ffcc];
}

.remember-me input {
  margin-right: 0.5rem;
}

.login-error {
  background: #ff4d4d;
  color: #fff;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.feed-button, .login-btn {
  @apply w-full p-4 bg-[#0da688] text-white rounded text-lg font-bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.feed-button:hover, .login-btn:hover {
  background-color: #00ddaa;
}

.signup-link {
  @apply text-[#00ffcc] font-bold no-underline;
}

.signup-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-section {
    width: 90%;
  }
}
